<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= job.title %></h3>
  </div>
  <div class="panel-body">
    <div class="row" >
      <div class="col-lg-4" ;>
        <div class="col-lg-6 text-right">Job Location:</div>
        <div class="col-lg-6"><%= job.location %></div>
        <div class="col-lg-6 text-right">Company:</div>
        <div class="col-lg-6"><%= job.company.name %></div>
        <div class="col-lg-6 text-right">Category:</div>
        <div class="col-lg-6"><%= job.category.name %></div>
        <div class="col-lg-6 text-right">Contract:</div>
        <div class="col-lg-6"><%= job.contract.name %></div>&nbsp;
        <% if job.recent? %>
        <div class="col-lg-12 text-center"><span>New <span class="glyphicon glyphicon-star"></span></span></div>
        <% end %>
        <% if job.featured? %>
          <div class="col-lg-12 text-center"><span>-Featured Job-</span></div>
        <% end %>
      </div>
      <div class="col-lg-5">
        <div class="col-lg-12 text-center">Description:</div>
        <div class="col-lg-12 text-justify"><%= job.description %></div>
      </div>
    </div>
  </div>
  <div class="panel-footer"><%= link_to 'More', job %></div>
</div>
