<div class="show-job">
  <h2><%= @job.title %></h2>
  <hr>
  <p><strong>Categoria:</strong> <%= @job.category.name %></p>
  <p><strong>Empresa:</strong> <%= @job.company.name%></p>
  <p><strong>Descrição Completa:<br></strong> <%= @job.description %></p>
  <p><strong>Localização:</strong> <%= @job.location %></p>
  <p><strong>Contract:</strong> <%= @job.contract.name %></p>
  <% if @job.featured? %>
    <span><em>Vaga em Destaque<em></span>
  <% end %>
</div>
