<% sign_in = t '.sign_in'; sign_up = t '.sign_up'%>
<% sign_out = t '.sign_out'; home = t '.home';%>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button	type="button"	class="navbar-toggle	collapsed"	data-toggle="collapse"	data-target="#collapibleMenu">
				<span	class="icon-bar"></span>
				<span	class="icon-bar"></span>
				<span	class="icon-bar"></span>
			</button>
      <a href="#" class="pull-left navbar-brand"><%= cl_image_tag("campuscode-empregoja/logo.png", :alt => "Emprego Já")%></a>
    </div>
    <div	class="collapse	navbar-collapse"	id="collapibleMenu">
      <ul	class="nav	navbar-nav	navbar-left">
        <li><%= link_to home, root_path %></li>
			</ul>
      <ul	class="nav	navbar-nav	navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to sign_out, destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to sign_in, new_user_session_path %></li>
          <li><%= link_to sign_up, new_user_registration_path %></li>
        <% end %>
			</ul>
    </div>
  </div>
</div>

<div id="wrapper">

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h3>Busque sua vaga:</h3>
    </li>
    <li><h4>Companies</h4></li>
    <% $companies.each do |company| %>
      <li><%= link_to company.name, company %></li>
      <% if company.premium? %>
        <li><em>Empresa Premium</em></li>
      <% end %>
    <% end %>
    <li> <h4>Categories</h4> </li>
    <% $categories.each do |category| %>
      <li><%= link_to category.name, category %><l/i>
    <% end %>
    <li> <h4>Contracts</h4> </li>
    <% $contracts.each do |contract| %>
      <li><%= link_to contract.name, contract %></li>
    <% end %>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
